[include]
	path = .gitremotes
	path = .borgconfig
[submodule "aggressive-indent"]
	path = lib/aggressive-indent
	url = https://github.com/Malabarba/aggressive-indent-mode
[submodule "auto-compile"]
	path = lib/auto-compile
	url = https://github.com/emacscollective/auto-compile.git
[submodule "avy"]
	path = lib/avy
	url = https://github.com/abo-abo/avy
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg.git
[submodule "cargo"]
	path = lib/cargo
	url = https://github.com/kwrooijen/cargo.el
[submodule "closql"]
	path = lib/closql
	url = https://github.com/magit/closql.git
[submodule "company"]
	path = lib/company
	url = https://github.com/company-mode/company-mode
[submodule "compat"]
	path = lib/compat
	url = https://github.com/emacs-compat/compat.git
[submodule "consult"]
	path = lib/consult
	url = https://github.com/minad/consult
[submodule "consult-company"]
	path = lib/consult-company
	url = https://github.com/mohkale/consult-company
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el.git
[submodule "diff-hl"]
	path = lib/diff-hl
	url = https://github.com/dgutov/diff-hl.git
[submodule "diredfl"]
	path = lib/diredfl
	url = https://github.com/purcell/diredfl
[submodule "doom-modeline"]
	path = lib/doom-modeline
	url = https://github.com/seagle0128/doom-modeline
[submodule "doom-themes"]
	path = lib/doom-themes
	url = https://github.com/doomemacs/themes
[submodule "ebuild-mode"]
	path = lib/ebuild-mode
	url = https://anongit.gentoo.org/git/proj/ebuild-mode.git
[submodule "eglot-jl"]
	path = lib/eglot-jl
	url = https://github.com/non-Jedi/eglot-jl
[submodule "eldoc-box"]
	path = lib/eldoc-box
	url = https://github.com/casouri/eldoc-box
[submodule "emacsql"]
	path = lib/emacsql
	url = https://github.com/magit/emacsql.git
[submodule "epkg"]
	path = lib/epkg
	url = https://github.com/emacscollective/epkg.git
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el
[submodule "git-modes"]
	path = lib/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "hl-todo"]
	path = lib/hl-todo
	url = https://github.com/tarsius/hl-todo
[submodule "julia-formatter"]
	path = lib/julia-formatter
	url = https://codeberg.org/FelipeLema/julia-formatter.el
[submodule "julia-mode"]
	path = lib/julia-mode
	url = https://github.com/JuliaEditorSupport/julia-emacs
[submodule "julia-repl"]
	path = lib/julia-repl
	url = https://github.com/tpapp/julia-repl
[submodule "julia-ts-mode"]
	path = lib/julia-ts-mode
	url = https://github.com/ronisbr/julia-ts-mode
[submodule "llama"]
	path = lib/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "magit"]
	path = lib/magit
	url = https://github.com/magit/magit.git
[submodule "marginalia"]
	path = lib/marginalia
	url = https://github.com/minad/marginalia
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "nerd-icons"]
	path = lib/nerd-icons
	url = https://github.com/rainstormstudio/nerd-icons.el
[submodule "nerd-icons-completion"]
	path = lib/nerd-icons-completion
	url = https://github.com/rainstormstudio/nerd-icons-completion
[submodule "nerd-icons-dired"]
	path = lib/nerd-icons-dired
	url = https://github.com/rainstormstudio/nerd-icons-dired
[submodule "no-littering"]
	path = lib/no-littering
	url = https://github.com/emacscollective/no-littering
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless
[submodule "popup"]
	path = lib/popup
	url = https://github.com/auto-complete/popup-el
[submodule "posframe"]
	path = lib/posframe
	url = https://github.com/tumashu/posframe
[submodule "rg"]
	path = lib/rg
	url = https://github.com/dajva/rg.el
[submodule "rime"]
	path = lib/rime
	url = https://github.com/DogLooksGood/emacs-rime
[submodule "rime-ice"]
	path = etc/rime
	url = https://github.com/iDvel/rime-ice
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el
[submodule "scad-mode"]
	path = lib/scad-mode
	url = https://github.com/openscad/emacs-scad-mode
[submodule "session-async"]
	path = lib/session-async
	url = https://codeberg.org/FelipeLema/session-async.el
[submodule "shrink-path"]
	path = lib/shrink-path
	url = https://gitlab.com/bennya/shrink-path.el
[submodule "sqlite3"]
	path = lib/sqlite3
	url = https://github.com/pekingduck/emacs-sqlite3-api.git
[submodule "toml"]
	path = lib/toml
	url = https://github.com/gongo/emacs-toml
[submodule "transient"]
	path = lib/transient
	url = https://github.com/magit/transient.git
[submodule "treepy"]
	path = lib/treepy
	url = https://github.com/volrath/treepy.el.git
[submodule "treesit-auto"]
	path = lib/treesit-auto
	url = https://github.com/renzmann/treesit-auto
[submodule "use-package"]
	path = lib/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "vertico"]
	path = lib/vertico
	url = https://github.com/minad/vertico
[submodule "vterm"]
	path = lib/vterm
	url = https://github.com/akermu/emacs-libvterm
[submodule "wgrep"]
	path = lib/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = https://github.com/joaotavora/yasnippet
